.bg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  width: Hug (275px);
  height: Hug (102px);
  top: 2817px;
  left: 600px;
  gap: 32px;
}

.icons-container {
  display: flex;
  justify-content: center;
  width: Hug (192px);
  height: Hug (48px);
  gap: 24px;
}

.instagram {
  width: 37.5px;
  height: 37.5px;
  top: 5.25px;
  left: 5.25px;
}

.linkedin {
  width: 37.5px;
  height: 37.5px;
  top: 5.25px;
  left: 5.25px;
}

.mail {
  width: 37.5px;
  height: 37.5px;
  top: 5.25px;
  left: 5.25px;
}
