.navbar-container {
  background-color: transparent;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.website-logo-nav {
  width: 15%;
  margin-left: 50px;
}

.nav-item {
  color: black;
}

.nav-container {
  width: 55%;
  margin: 5px 10px;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
@media (min-width: 768px) {
  .navbar-container {
    padding: 5px 10px;
    height: 80px;
  }
}

.nav-links {
  margin: 5px 10px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav-link {
  margin: 5px 10px;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.logout {
  background-color: #6163ee;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  width: 90px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
}
